@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Admin 2FA Dashboard";
}

<h2>Admin 2FA Verified</h2>
<p>This page requires the Admin to have verified OTP.</p>
