@model UserPortalValdiationsDBContext.Models.User

<div class="text-center">
    <img src="@Model.ProfilePhotoPath" class="profile-icon mb-2" />
    <p>@Model.Username</p>
    <small>@Model.Roles</small>
</div>
